@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 207 69% 91%;
    --foreground: 215 28% 17%;
    --card: 207 50% 85%;
    --card-foreground: 215 28% 17%;
    --popover: 207 50% 85%;
    --popover-foreground: 215 28% 17%;
    --primary: 206 21% 59%;
    --primary-foreground: 210 40% 98%;
    --secondary: 207 50% 85%;
    --secondary-foreground: 215 28% 17%;
    --muted: 207 30% 88%;
    --muted-foreground: 215 25% 45%;
    --accent: 323 20% 54%;
    --accent-foreground: 355 75% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 206 21% 79%;
    --input: 206 21% 79%;
    --ring: 206 21% 59%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 210 10% 11%;
    --foreground: 210 40% 98%;
    --card: 210 10% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 210 10% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 206 21% 59%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 19% 27%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 19% 27%;
    --muted-foreground: 215 20% 65%;
    --accent: 323 20% 54%;
    --accent-foreground: 355 75% 97%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 206 21% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
